@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 38px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
}

i:hover {
  opacity: 0.6;
}

.link_hover-effect:after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #000;
  width: 0;
  bottom: -5px;
  right: 0;
  transition: all 300ms ease;
}

.link_hover-effect-white:after {
  background-color: #fff;
}

.link_hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.text-purple {
  color: #6030b1;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

.section_title {
  margin-bottom: 25px;
}

/* NAVIGATION BAR */
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.nav_link--list {
  display: flex;
}

.nav_link--anchor {
  margin: 0 15px;
  color: #242424;
  font-weight: 700;
}
.nav_link-anchor--primary {
  background-color: #6030b1;
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}
.nav_link-anchor--primary:hover {
  background-color: #5d3eff;
}

.personal_logo {
  font-size: 25px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */
#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about_me-info {
  display: flex;
  flex-direction: column;
}

.about_me-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin: 5px auto;
  text-align: center;
}

.about-me_img-container {
  margin-top: 100px;
}

.about_me-image--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
  animation: animate_profile-picture 700ms 200ms backwards;
}

@keyframes animate_profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about_me-image {
  width: 100%;

  /* Improving the picture of myself */
  transform: scale(1.5);
  padding-top: 9px;
}

.about_me_info-title {
  margin-bottom: 15px;
  animation: fadeup 650ms 400ms backwards;
}

.about_me-paragraph {
  font-size: 20px;
  margin-bottom: 26px;
  animation: fade-up 650ms 400ms backwards;
}

.about_me-link {
  font-size: 25px;
  color: black;
  padding: 0 15px;
  animation: fade-up 650ms 650ms backwards;
}

.about_me-links {
  animation: fade-up 650ms 900ms backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me_img-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.about_me-img {
  width: 100%;
  animation: fade-in 1200ms 700ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wave {
  display: inline-block;
  animation: animate-wave 600ms infinite ease;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* TECH - STACK */
.lang_image {
  width: 100px;
  max-width: 100px;
  transition: all 300ms;
}

.lang {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.lang_image:hover .lang_image {
  filter: brightness(80%);
  opacity: 0.85;
  transform: scale(0.9);
}

.lang-image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}

.lang_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.lang_name {
  position: absolute;
  bottom: -15px;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
  font-weight: bold;
}

.lang:hover .lang_name {
  transform: scale(1);
  opacity: 1;
}

/* PROJECT */
.project {
  margin-bottom: 100px;
}

.project:last-child {
  margin-bottom: 50px;
}

.project_image {
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 500ms ease;
}

.project_container {
  display: flex;
  box-shadow: 0 20px 90px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project_container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050a14;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project_container:before {
  opacity: 0.88;
}

.project:hover .project_image {
  transform: scale(1.08);
  filter: blur(5px);
}

.project:hover .project_description {
  opacity: 1;
  transform: translateY(-50%);
}

.project_list {
  padding-top: 40px;
}

.project_description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition:
    transform 450ms,
    opacity 300ms;
}

.project_descrition-title {
  font-size: 30px;
}

.project_description--para {
  margin: 15px 0;
}

.project_descrip-links {
  display: flex;
}

.project_descrip-link {
  font-size: 15px;
  margin-right: 15px;
}

.project_descrition-title,
.project_description-subtitle,
.project_description--para,
.project_descrip-link {
  text-align: left;
  color: #f8f8f8;
}

/* FOOTER */
footer {
  background-color: #242424;
}

.footer_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.footer_logo-image {
  width: 75px;
  height: 75px;
}

.footer_social-list {
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.footer_social-link,
.footer_copyright,
.footer_logo-popup {
  color: #fff;
}

.footer_logo-popup {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 600;
  opacity: 0;
  transition: all 300ms ease;
}

.footer_anchor {
  position: relative;
  margin-bottom: 25px;
}

.footer_anchor:hover .footer_logo-popup {
  transform: translateX(60px);
  opacity: 1;
}

/* RESPONSIVENESS */
/* Small ohones, Tablets, Large Smartphones */
@media (max-width: 768px) {
  nav {
    height: auto;
    min-height: 65px;
    padding: 12px 24px;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 8px;
  }

  .personal_logo {
    font-size: 16px;
    margin: 0 8px;
  }

  .nav_link--anchor {
    margin: 0 6px;
    font-size: 14px;
  }

  .nav_link-anchor--primary {
    padding: 8px 16px;
  }

  h1 {
    font-size: 25px;
  }

  .about_me-paragraph {
    font-size: 15px;
  }

  .lang {
    width: calc(100% / 2);
  }

  .project_description--para {
    font-size: 10px;
  }

  .project_description {
    left: 25px;
    padding-right: 25px;
  }

  .project_descrip-links {
    justify-content: center;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .nav_link:not(:last-child) {
    display: none;
  }

  .project_description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project_description--para {
    display: none;
  }

  .project_descrition-title {
    font-size: 30px;
    line-height: 1;
    text-align: center;
  }

  .project_descrip-links {
    display: flex;
    justify-content: center;
  }

  .project_description-subtitle {
    text-align: center;
    margin: 15px 0;
  }

  .footer_logo-image {
    width: 45px;
    height: 45px;
  }

  .footer_logo-popup {
    position: absolute;
    right: 0;
    top: 10px;
    font-weight: 600;
    opacity: 0;
    transition: all 300ms ease;
  }
}
